<!-- views/profile.ejs -->
<!DOCTYPE html>
<html ng-app>
<head>
    <title>Node Authentication</title>
   
   
    <link href="libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>

    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Our First App</h1>
            <input type='text' name='name' ng-model='name'>
            <br><br>
           <div class="alert alert-{{name}}" role="alert">Hello World - {{ name }}</div>
        </div>
    </div>
    
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    
</body>
</html>